* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* 导航菜单 */

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header * {
    color: #f9f6f6;
}

.header-left {
    position: absolute;
    left: 0px;
    display: flex;
    margin-left: 20px;
}

.header-rigth {
    position: absolute;
    right: 0px;
    display: flex;
}

.header-rigth a {
    margin-right: 20px;
    text-decoration: none;
}


/* 内容部分 */

.content {
    width: 100%;
}

.banner {
    width: 100%;
    height: 500px;
    line-height: 100px;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
}

.banner a {
    margin-top: 30px;
    padding: 14px 60px;
    background-color: #5b5a5a;
    color: #faf8f8;
    text-decoration: none;
}

.banner a:hover {
    color: red;
    text-decoration: underline;
}


/*内容*/

.green-area {
    background: #089D80;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}

.this-me {
    width: 50%;
    border-bottom: 2px solid #056470;
    margin: 22px auto;
    padding: 22px;
}

.green-area p {
    margin-bottom: 20px;
}

.green-area .item {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    background-color: #08866d;
    transform: rotate(45deg);
    margin: 25px;
}

.gray-area {
    width: 100%;
    background: #4a4949;
    display: inline-block;
    vertical-align: middle;
}

.gray-area .one,
.gray-area .two,
.gray-area .three {
    width: 100%;
}

.gray-area img {
    width: 500px;
    height: 300px;
}

.text-center {
    width: calc(100% - 500px - 100px);
    height: 200px;
    padding-top: 100px;
    padding-left: 100px;
}

.one img,
.three img {
    float: left;
}

.one .text-center,
.three .text-center {
    float: right;
}

.one .text-center {
    background-color: #6e6c6c;
}

.two img {
    clear: both;
    float: right;
}

.two .text-center {
    float: left;
    background-color: #373636;
}

.jianjie {
    width: 100%;
    padding: 100px 0px 100px 0px;
    background: #443576;
    color: #fff;
}

.welcome {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #1d0c1c;
}

.cards {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card {
    width: 50%;
    min-height: 300px;
    max-width: 600px;
    padding: 50px;
    box-sizing: border-box;
}


/*页脚*/

footer {
    width: 100%;
    height: 200px;
    background: #333;
    color: #fff;
}

.share {
    width: 100%;
    height: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.share li {
    display: inline-block;
    margin: 30px;
}

.last span {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.record {
    text-decoration: none;
    color: white;
}